@page "/"

<h1 style="text-align:center">پروژه درس سیستم‌های توزیع‌شده</h1>
<br />
<br />
<h2 style="text-align:center">برنامه سفر هوایی</h2>
<br />
<br />
<br />
<h3 style="text-align:center"><a href="https://mahdik.ir" target="_blank">مهدی کوهستانی</a> - 993644011</h3>

